.idea
.DS_Store
.env
Thumbs.db
documents/*
dumps/*.sql

src/wp-config.php
src/wp-content/uploads

# netbeans
nbproject
src/web/app/db.php

/src/*.htaccess
node_modules
/src/wp-content/plugins/wp-social-sharing
/src/wp-content/plugins/advanced-custom-fields-pro
/src/wp-content/plugins/wordpress-importer

/docker/*
/docker-compose.yml
