@font-face {
  font-family: 'keepcalm';
  src: url("fonts/KeepCalmMedium.eot");
  src: url("fonts/KeepCalmMedium.ttf") format("truetype"), url("fonts/KeepCalmMedium.woff") format("woff"), url("fonts/KeepCalmMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/KeepCalmMedium.svg#keepcalm") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  scroll-behavior: smooth; }

* {
  outline: none;
  box-sizing: border-box; }

body {
  font-family: arial, sans serif; }

.text-black {
  color: black; }

.text-underlined {
  text-decoration: underline; }

.keepcalm {
  font-family: 'keepcalm', sans-serif; }

.mt-navb {
  padding-top: 100px; }

.mt-navb-works {
  padding-top: 190px; }

@media (max-width: 968px) {
  .mt-navb-works {
    padding-top: 175px; } }

@media (max-width: 768px) {
  .mt-navb-works {
    padding-top: 95px; } }

@media (max-width: 600px) {
  .mt-navb-works {
    padding-top: 115px; } }

@media (max-width: 331px) {
  .mt-navb-works {
    padding-top: 140px; } }

/* Variables  */
h2 {
  font-size: 20px;
  font-family: arial, sans serif;
  text-transform: uppercase;
  font-weight: 600; }

p {
  font-family: arial, sans serif;
  font-size: 14px; }

.button:focus {
  outline: none; }

.col-0 {
  width: 0;
  padding: 0; }

.pagination,
.news-pagination,
.works-pagination {
  display: block !important;
  text-align: right; }
  .pagination a,
  .news-pagination a,
  .works-pagination a {
    font-weight: bold;
    padding: 5px;
    font-size: 20px; }
  .pagination .current,
  .news-pagination .current,
  .works-pagination .current {
    text-decoration: underline; }

.navbar-nav,
.navbar-subnav,
.navbar-subnav-work {
  flex-direction: row;
  font-family: 'keepcalm', sans-serif;
  flex-wrap: nowrap; }
  .navbar-nav a,
  .navbar-subnav a,
  .navbar-subnav-work a {
    color: black; }
  .navbar-nav a:hover,
  .navbar-subnav a:hover,
  .navbar-subnav-work a:hover {
    color: black;
    text-decoration: none; }
  .navbar-nav .current_page_item,
  .navbar-nav .current-cat,
  .navbar-subnav .current_page_item,
  .navbar-subnav .current-cat,
  .navbar-subnav-work .current_page_item,
  .navbar-subnav-work .current-cat {
    text-decoration: underline; }

.navbar-nav {
  justify-content: space-between;
  font-size: 65px;
  text-transform: uppercase;
  padding: 0 40px; }

@media (max-width: 768px) {
  .navbar-nav {
    padding: 0 10px; }
    .navbar-nav li {
      font-size: 1.3rem; } }

.submenu-work {
  position: fixed;
  top: 90px;
  z-index: 11; }

#menu-principal li,
#menu-principal-1 li {
  position: fixed; }

#menu-principal li:nth-of-type(1),
#menu-principal-1 li:nth-of-type(1) {
  left: 2vw; }

#menu-principal li:nth-of-type(4),
#menu-principal-1 li:nth-of-type(4) {
  right: 2vw; }

@media (max-width: 968px) and (min-width: 769px) {
  #menu-principal li,
  #menu-principal-1 li {
    font-size: 50px; } }

@media (max-width: 968px) {
  .submenu-work {
    top: 75px; } }

@media (max-width: 768px) {
  #menu-principal li:nth-of-type(2),
  #menu-principal-1 li:nth-of-type(2) {
    left: 24vw; }
  #menu-principal li:nth-of-type(3),
  #menu-principal-1 li:nth-of-type(3) {
    left: 55vw; }
  .submenu-work {
    top: 35px;
    left: 2vw; } }

@media (min-width: 769px) {
  #menu-principal li:nth-of-type(2),
  #menu-principal-1 li:nth-of-type(2),
  .submenu-work {
    left: 22vw; }
  #menu-principal li:nth-of-type(3),
  #menu-principal-1 li:nth-of-type(3) {
    left: 53vw; } }

@media (min-width: 1100px) {
  #menu-principal li:nth-of-type(2),
  #menu-principal-1 li:nth-of-type(2),
  .submenu-work {
    left: 24vw; }
  #menu-principal li:nth-of-type(3),
  #menu-principal-1 li:nth-of-type(3) {
    left: 55vw; } }

.navbar-subnav,
.navbar-subnav-work {
  justify-content: left;
  display: flex;
  flex-wrap: wrap;
  font-size: 28px;
  list-style: none;
  top: 90px; }
  .navbar-subnav li,
  .navbar-subnav-work li {
    padding: 0 20px 0 0;
    z-index: 11; }
  .navbar-subnav a:hover,
  .navbar-subnav-work a:hover {
    text-decoration: underline; }

.navbar-subnav-work {
  margin: 0;
  padding: 0; }

@media (max-width: 768px) {
  .navbar-subnav {
    padding: 0 20px;
    display: inherit;
    top: 35px; }
  .navbar-subnav li,
  .navbar-subnav-work li {
    font-size: 1rem;
    float: left; } }

.menu-fixed,
.navbar-subnav {
  position: fixed;
  z-index: 11; }

.menu-fixed {
  width: 100%; }

.menu-single-work {
  display: none; }

#singleWorks .menu-single-work {
  padding: 10px;
  position: relative;
  height: 50px;
  display: block;
  z-index: 10; }
  #singleWorks .menu-single-work .menu-show,
  #singleWorks .menu-single-work .menu-hide {
    cursor: pointer;
    position: absolute;
    z-index: 15; }
  #singleWorks .menu-single-work .menu-hide {
    font-size: 25px; }
    #singleWorks .menu-single-work .menu-hide img {
      height: 20px;
      width: auto; }
  #singleWorks .menu-single-work .menu-fixed-single {
    width: 100%;
    position: fixed;
    top: 0; }
    #singleWorks .menu-single-work .menu-fixed-single .menu-item:nth-child(2) {
      text-decoration: underline; }

#singleWorks .menu-fixed,
#singleWorks .navbar-subnav-work {
  display: none; }

@media (max-width: 768px) {
  #singleWorks .menu-fixed-single {
    width: 100% !important;
    left: 0;
    margin: 0 !important; }
  #singleWorks .menu-hide {
    top: 85px;
    left: 2vw; }
  #singleWorks .navbar-nav {
    padding: 0; } }

@media (max-width: 600px) {
  #singleWorks .menu-hide {
    top: 105px; } }

@media (max-width: 332px) {
  #singleWorks .menu-hide {
    top: 135px; } }

#azc .navbar-subnav {
  padding: 0;
  left: 2vw; }

@media (max-width: 768px) {
  #azc .navbar-subnav {
    top: 33px; } }

footer {
  text-transform: uppercase;
  font-family: 'keepcalm', sans-serif; }
  footer a:hover {
    text-decoration: none; }
  footer .azc-logo-footer {
    font-size: 45px;
    font-family: 'keepcalm', sans-serif;
    margin-bottom: 0; }
  footer .block-footer {
    max-width: 100%;
    width: 300px;
    padding: 25px; }
  footer .footer-contact {
    font-size: 12px; }
  footer.footer-bg-white {
    background: transparent;
    color: black; }
    footer.footer-bg-white a {
      color: black; }
    footer.footer-bg-white a:hover {
      color: black; }
  footer.footer-bg-black {
    background: black;
    color: white; }
    footer.footer-bg-black a {
      color: white; }
    footer.footer-bg-black a:hover {
      color: white; }
  footer #footer-widget-area a:first-child {
    margin-right: 1em; }
  footer .block-footer-AZC {
    padding: 30px;
    margin-right: 0; }
    footer .block-footer-AZC .social-link {
      flex-wrap: nowrap;
      margin-top: 30px; }
      footer .block-footer-AZC .social-link img {
        height: 35px;
        width: auto; }
    footer .block-footer-AZC img {
      width: 100%; }
  footer .social-link {
    display: flex; }
  footer .social-icon {
    margin-top: 15px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    background-color: white;
    text-align: center;
    border-radius: 18px; }
    footer .social-icon img {
      height: 100%;
      padding: 5px; }

.home-content {
  height: 100vh;
  background: #fff url("img/AZC-bckg.png") no-repeat;
  background-size: cover;
  font-size: 65px;
  font-weight: 700;
  overflow: hidden; }
  .home-content .row {
    height: 100vh; }
  .home-content .azc-home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .home-content .azc-home a {
      text-align: center;
      cursor: pointer;
      width: 100%; }
  .home-content .works-home,
  .home-content .news-home,
  .home-content .index-home {
    width: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.clicked a {
  text-align: center;
  width: 25vw; }

.clicked a:hover {
  text-decoration: none; }

.clicked a.text-black:hover {
  color: black; }

.clicked .azc-home {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0; }
  .clicked .azc-home a {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
    width: 25vw; }

.clicked .works-home {
  width: 75%;
  background-color: white;
  position: absolute;
  height: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s; }

.clicked .news-home {
  width: 50%;
  background-color: #c9e0ee;
  position: absolute;
  height: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s; }

.clicked .index-home {
  width: 25%;
  background-color: black;
  position: absolute;
  height: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s; }

#about img,
#team img,
#jobs img,
#stages img {
  width: 100%;
  height: auto;
  padding: 0 10px 10px; }

#awards h2 {
  padding: 0 10px; }

.azc-section {
  margin-top: -140px;
  padding-top: 150px; }
  .azc-section p {
    font-size: 14px; }
  .azc-section .owl-stage-outer {
    height: 100%; }

#about {
  margin-bottom: -140px;
  padding-top: 180px; }

.awards-text {
  padding: 0 10px;
  column-gap: 40px;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px; }

@media (min-width: 576px) {
  .awards-text {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2; } }

@media (min-width: 768px) {
  .awards-text {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3; } }

@media (min-width: 992px) {
  .awards-text {
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4; } }

.about-resize,
.team-resize,
.job-resize,
.stage-resize {
  overflow: hidden; }

.hide {
  display: none; }

@media (min-width: 1200px) {
  .column {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2; } }

.team-column {
  margin-top: 1rem; }

.about-more,
.more-team,
.about-less,
.less-team,
.more-job,
.less-job,
.more-stages,
.less-stages {
  font-weight: 900;
  font-size: 20px !important;
  cursor: pointer;
  padding-left: 15px; }

@media (max-width: 768px) {
  #about {
    padding-top: 110px; } }

@media (max-width: 991px) {
  .about-text,
  .team-text {
    padding: 0 10px; } }

@media (max-width: 968px) {
  #works .navbar-subnav,
  #singleWorks .navbar-subnav {
    top: 70px; } }

@media (max-width: 768px) {
  #works .navbar-subnav,
  #singleWorks .navbar-subnav {
    left: 2vw;
    margin-left: 0;
    padding-left: 0;
    flex-wrap: wrap; } }

@media (min-width: 769px) {
  #works .navbar-subnav,
  #singleWorks .navbar-subnav {
    left: 22vw;
    margin-left: 0;
    padding-left: 0; } }

@media (min-width: 1100px) {
  #works .navbar-subnav,
  #singleWorks .navbar-subnav {
    left: 24vw;
    margin-left: 0;
    padding-left: 0;
    top: 90px; } }

@media (max-width: 768px) {
  #works .navbar-subnav,
  #singleWorks .navbar-subnav {
    top: 35px; } }

#works {
  color: black; }
  #works a {
    color: black; }
  #works .categories-filters a:after {
    content: ','; }
  #works .categories-filters li:last-of-type a:after {
    content: ''; }
  #works .works-mosaic-listing .works-item {
    margin: 0 0 .85em;
    width: 100%; }
    #works .works-mosaic-listing .works-item img {
      width: 100%; }
    #works .works-mosaic-listing .works-item a {
      display: inline-block; }

@media (max-width: 1237px) {
  .works-mosaic-listing {
    padding-top: 38px; } }

@media (max-width: 768px) {
  .works-mosaic-listing {
    padding-top: 0; } }

@media (max-width: 575px) {
  .works-mosaic-listing img {
    height: calc(100vw - 30px);
    object-fit: cover; } }

@media (min-width: 576px) {
  .works-mosaic-listing {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2; } }

@media (min-width: 768px) {
  .works-mosaic-listing {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3; } }

@media (min-width: 992px) {
  .works-mosaic-listing {
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-gap: 20px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px; } }

.navbar-subnav .current-cat {
  text-decoration: underline; }

.works-info h2 {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px; }

.works-info p {
  font-size: 15px;
  margin-bottom: 0; }

.works-info img {
  height: 35px;
  width: 25px !important;
  padding: 5px 0;
  margin-top: 10px; }

a:hover {
  text-decoration: none; }

.work-text {
  position: fixed;
  top: 0;
  width: 25%;
  height: 100%;
  min-width: 300px;
  right: 0;
  background-color: white;
  transition: right 1s;
  -webkit-transition: right 1s;
  z-index: 10;
  overflow-y: scroll; }
  .work-text .arrow {
    font-size: 30px;
    width: 20px;
    cursor: pointer;
    transition: transform 1s;
    -webkit-transition: transform 1s; }
    .work-text .arrow img {
      width: 100%; }
  .work-text .work-exponation {
    padding: 5px 25px; }

.work-text.onright {
  right: -20%; }
  .work-text.onright .arrow {
    transform: rotate(-180deg); }

.owl-carousel.work-single {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 50px 0; }
  .owl-carousel.work-single .owl-stage-outer {
    height: 100%;
    z-index: 999; }
    .owl-carousel.work-single .owl-stage-outer .owl-stage {
      height: 100%; }
      .owl-carousel.work-single .owl-stage-outer .owl-stage .owl-item {
        height: 100%; }
        .owl-carousel.work-single .owl-stage-outer .owl-stage .owl-item .item {
          max-width: 100vw;
          max-height: calc(100vh - 100px);
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .owl-carousel.work-single .owl-stage-outer .owl-stage .owl-item .item img {
            max-width: inherit;
            max-height: inherit;
            margin: 0 auto;
            object-fit: contain;
            position: absolute; }
  .owl-carousel.work-single .owl-nav {
    padding: 0; }
    .owl-carousel.work-single .owl-nav button {
      width: 30%; }
      .owl-carousel.work-single .owl-nav button span {
        display: none; }

.img-work-caract {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; }
  .img-work-caract p {
    margin: 0; }

@media (max-width: 768px) {
  .owl-carousel.work-single {
    position: relative;
    height: 80vh; }
  .img-work-caract {
    display: none; }
  .work-text.onright {
    position: relative;
    width: 100%;
    right: 0;
    margin: auto; }
    .work-text.onright .arrow img {
      display: none; } }

#works-list {
  padding-top: 190px;
  margin-top: -175px;
  margin-bottom: 25px; }
  #works-list .work-list-year {
    padding: 1em 0;
    font-size: 1.5em;
    font-weight: 600; }
  #works-list .works-item {
    position: relative;
    margin-top: 12px; }
    #works-list .works-item h2,
    #works-list .works-item .w25 {
      width: 25%; }
    #works-list .works-item h2 {
      margin: 0; }
    @media (max-width: 768px) {
      #works-list .works-item h2 {
        width: 100%; }
      #works-list .works-item .w25 {
        width: 30%; } }
  #works-list .works-info {
    width: 95%;
    flex-wrap: wrap; }
  #works-list .add-list {
    position: absolute;
    right: 0;
    top: -23%; }
    #works-list .add-list img {
      height: 35px;
      width: 25px !important;
      padding: 5px 0; }
  @media (max-width: 768px) {
    #works-list .add-list {
      top: 0; }
      #works-list .add-list img {
        height: 45px;
        width: 33px !important; } }

#singleWorks .categories-filters li:after {
  content: ','; }

#singleWorks .categories-filters li:last-of-type:after {
  content: ''; }

#singleWorks .social-sharing {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 10px;
  left: 32%;
  z-index: 1000; }
  #singleWorks .social-sharing .ss-button-pinterest {
    display: none; }
  #singleWorks .social-sharing .ss-button-pinterest::after {
    content: "pinterest"; }

#singleWorks ::-webkit-scrollbar {
  width: 10px; }

#singleWorks ::-webkit-scrollbar-track {
  background: #fff; }

#singleWorks ::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  -webkit-border-radius: 5px; }

#singleWorks ::-webkit-scrollbar-thumb:hover {
  background: #808080; }

#news {
  color: black;
  background-color: #c9e0ee; }
  #news a {
    color: black; }
  #news .news-list {
    list-style-type: none; }

.post-news {
  margin-top: -140px;
  padding-top: 150px; }
  .post-news .owl-stage-outer,
  .post-news .owl-stage,
  .post-news .owl-item,
  .post-news .item {
    height: 100%; }
    .post-news .owl-stage-outer img,
    .post-news .owl-stage img,
    .post-news .owl-item img,
    .post-news .item img {
      object-fit: cover;
      height: 100%; }

.news-resize {
  overflow: hidden; }

.news-more,
.news-less {
  font-weight: 900;
  font-size: 20px !important;
  cursor: pointer;
  padding-left: 15px; }

.padb-15 {
  padding-bottom: 15px; }

.news-pagination .page-numbers {
  font-weight: bold;
  padding: 5px;
  font-size: 20px; }

#page-index {
  background: black;
  color: white; }
  #page-index a {
    color: white; }
  #page-index .navbar-nav a {
    color: white; }
  #page-index .navbar-nav a:hover {
    color: white; }
  #page-index .postindex-list {
    list-style-type: none; }
    #page-index .postindex-list .wp-block-image img {
      width: 100%; }
    #page-index .postindex-list li {
      font-weight: bold; }
      #page-index .postindex-list li p {
        font-weight: normal; }
    #page-index .postindex-list .title {
      text-transform: uppercase;
      font-weight: bold; }
  #page-index .postindex-list-data {
    list-style-type: none; }
    #page-index .postindex-list-data h4 {
      font-size: 30px;
      font-weight: bold;
      margin: 20px 0 10px; }
    #page-index .postindex-list-data li {
      font-weight: bold; }
    #page-index .postindex-list-data .page-numbers.current {
      text-decoration: underline; }
  #page-index .categories-filters {
    overflow-y: auto; }
  #page-index .wp-block-gallery .blocks-gallery-item figcaption {
    display: none; }
  @media (max-width: 767px) {
    #page-index .mobile-hide {
      display: none; }
    #page-index .indexterms-filters,
    #page-index .indexterms-filters ul,
    #page-index .index-post ul {
      padding: 0; } }
  #page-index .haut {
    margin-top: -25px; }
  @media (min-width: 768px) {
    #page-index .index-post,
    #page-index .index-cat {
      height: 100vh;
      overflow-y: scroll; }
    #page-index ::-webkit-scrollbar {
      width: 10px; }
    #page-index ::-webkit-scrollbar-track {
      background: black; }
    #page-index ::-webkit-scrollbar-thumb {
      background: #333333;
      -webkit-border-radius: 5px; }
    #page-index ::-webkit-scrollbar-thumb:hover {
      background: #696969; } }

#single {
  color: black;
  background-color: #c9e0ee; }
  #single a {
    color: black; }

.owl-nav {
  position: absolute;
  width: 100%;
  height: 95%;
  padding-right: 15px;
  padding-left: 15px;
  ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between; }
  .owl-nav .owl-prev,
  .owl-nav .owl-next {
    z-index: 1000; }
  .owl-nav .owl-prev span,
  .owl-nav .owl-next span {
    font-size: 0; }
  .owl-nav .owl-prev span::after {
    content: url(img/back.png);
    position: relative;
    left: 0;
    top: 0; }
  .owl-nav .owl-next span::after {
    content: url(img/next.png);
    position: relative;
    left: 0;
    top: 0; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    outline: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    outline: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }
