.text-black {
  color: #000; }

.montserrat {
  font-family: 'Montserrat', sans-serif; }

.home-content {
  height: 100vh;
  background: #fff url("img/AZC-bckg.png") no-repeat;
  background-size: cover;
  font-size: 65px;
  font-weight: 700; }
  .home-content .row {
    height: 100vh; }
  .home-content .enter-button {
    width: 100%; }
    .home-content .enter-button p {
      padding-top: 50vh;
      text-align: center;
      color: #fff;
      cursor: pointer; }
  .home-content .works-home,
  .home-content .news-home,
  .home-content .index-home {
    width: 0;
    position: absolute;
    right: 0; }
  .home-content .azc-home {
    width: 0;
    position: absolute;
    left: 40%; }
  .home-content a {
    width: 0;
    opacity: 0;
    visibility: hidden; }

.clicked .enter-button p {
  display: none; }

.clicked a:hover {
  text-decoration: none; }

.clicked a.text-black:hover {
  color: black; }

.clicked .azc-home {
  position: absolute;
  height: 100%;
  left: 0;
  width: 100%;
  -webkit-transition: all 2s;
  transition: all 2s; }
  .clicked .azc-home a {
    visibility: visible;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 25vw;
    opacity: 1; }

.clicked .works-home {
  width: 75%;
  background-color: white;
  position: absolute;
  height: 100%;
  left: 25%;
  -webkit-transition: width 3s;
  transition: width 3s;
  -webkit-transition-delay: 2s;
  transition-delay: 2s; }
  .clicked .works-home a {
    visibility: visible;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 25vw;
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-transition-delay: 4s;
    transition-delay: 4s; }

.clicked .news-home {
  width: 50%;
  background-color: #c9e0ee;
  position: absolute;
  height: 100%;
  left: 50%;
  -webkit-transition: width 3s;
  transition: width 3s;
  -webkit-transition-delay: 4s;
  transition-delay: 4s; }
  .clicked .news-home a {
    visibility: visible;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 25vw;
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-transition-delay: 6s;
    transition-delay: 6s; }

.clicked .index-home {
  width: 25%;
  background-color: black;
  position: absolute;
  height: 100%;
  left: 75%;
  -webkit-transition: width 3s;
  transition: width 3s;
  -webkit-transition-delay: 6s;
  transition-delay: 6s; }
  .clicked .index-home a {
    visibility: visible;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 25vw;
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-transition-delay: 8s;
    transition-delay: 8s; }
