#about img,
#team img,
#jobs img,
#stages img {
    width: 100%;
    height: auto;
    padding: 0 10px 10px;
}
#awards h2 {
    padding: 0 10px;
}
.azc-section {
    margin-top: -140px;
    padding-top: 180px;
    p {
        font-size: 14px;
    }
}
.awards-text {
        padding: 0 10px;
        column-gap: 40px;    
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
    }
@media (min-width: 576px) {    
    .awards-text {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
}
@media (min-width: 768px) {    
    .awards-text {
        column-count: 3;   
        -webkit-column-count: 3;
        -moz-column-count: 3;
    }
}
@media (min-width: 992px) {    
    .awards-text {
        column-count: 4;  
        -webkit-column-count: 4;
        -moz-column-count: 4;
    }
}
.hide {
    display: none;
}
@media (min-width: 1200px) {    
    .column {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
}
.team-column  {
    margin-top: 1rem;
}

.about-more,
.more-team,
.about-less,
.less-team {
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
}

