
#azc {
    .grid-item {
    width: calc((100% - 60px) / 2);
    margin-bottom: 5px;
        img {
            width: 100%;
            height: auto;
        }
    }
    #about,
    #team,
    #awards,
    #jobs,
    #stages {
        margin-top: -140px;
        padding-top: 150px;
    }
}