footer {
    p,
    a {
        padding: 0 10px;
        font-size: 14px;
        font-family: 'keepcalm', sans-serif;
        color: black;
    }
    a:hover {
            text-decoration: none;
            color: black;
    }
    .block-footer {
        max-width: 100%;
        margin-top: -25px;
        padding-bottom: 25px;
    }
    #footer-widget-area a:first-child {
        margin-right: 1em;
    }
}
#singleWorks footer {
    display: none;
}
#page-index footer {
    p,
    a {
        color: white;
    }
    a:hover {
        color: white;
}
}