footer {
    p,
    a {
        padding: 0;
        font-size: 14px;
        font-family: 'keepcalm', sans-serif;
        color: black;
        text-align: justify;
    }
    span {
        padding: 0 5px 0 0;
    }
    a:hover {
            text-decoration: none;
            color: black;
    }
    .block-footer {
        max-width: 100%;
        padding-bottom: 25px;
        line-height: 21px;
        .lang a.current_language {
            display: none;
        }
    }
}
#singleWorks footer .block-footer,
#home footer .block-footer {
    display: none!important;
}
#page-index footer {
    p,
    a {
        color: black;
    }
    a:hover {
        color: black;
    }
}
.lang {
    margin-left: 10px;
    a {
        padding: 0 10px;
        display: inline-block;
    }
}
@media (max-width: 1299px) {
    .lang {
        justify-content: flex-end;
        margin-bottom: 10px;
    }
}
@media (max-width: 768px) {
    #news .haut a,
    #index .haut a {
        margin-right: 10px;;
    }
}
