footer {
  #centered-footer {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;

    a {
      display: block;
      height: 40px;
      width: 40px;
      text-decoration: none;
      border: 1px solid black;
      border-radius: 100px;
      color: black;
      cursor: pointer;
      text-align: center;
      vertical-align: middle;
      line-height: 37px;

      img {
	width: 20px;
	margin: auto;
      }
    }
  }

  .haut {
    text-align: center;
    margin-bottom: 15px;

    a {
      color: black;
    }
  }
}
#singleWorks footer .block-footer,
#home footer .block-footer {
    display: none!important;
}
#page-index footer {
    p,
    a {
        color: black;
    }
    a:hover {
        color: black;
    }
}
.lang {
    margin-left: 10px;
    a {
        padding: 0 10px;
        display: inline-block;
    }
}
@media (max-width: 768px) {
    #news .haut a,
    #index .haut a {
        margin-right: 10px;;
    }
}
