@font-face {
font-family: 'keepcalm';
src: url('fonts/KeepCalmMedium.eot');
src: url('fonts/KeepCalmMedium.ttf') format('truetype'),
     url('fonts/KeepCalmMedium.woff') format('woff'),
     url('fonts/KeepCalmMedium.eot?#iefix') format('embedded-opentype'),
     url('../fonts/KeepCalmMedium.svg#keepcalm') format('svg');
font-weight: normal;
font-style: normal;
}

* {
  outline: none;
  box-sizing: border-box;}

.text-black {
  color: black;
}

.keepcalm {
  font-family: 'keepcalm', sans-serif;
}

/* Variables  */
$news-bg: #c9e0ee;