@font-face {
font-family: 'keepcalm';
src: url('fonts/KeepCalmMedium.eot');
src: url('fonts/KeepCalmMedium.ttf') format('truetype'),
     url('fonts/KeepCalmMedium.woff') format('woff'),
     url('fonts/KeepCalmMedium.eot?#iefix') format('embedded-opentype'),
     url('../fonts/KeepCalmMedium.svg#keepcalm') format('svg');
font-weight: normal;
font-style: normal;
}
html {    
    scroll-behavior: smooth;
}
* {
  outline: none;
  box-sizing: border-box;}

.text-black {
  color: black;
}
.text-underlined {
    text-decoration: underline;
}

.keepcalm {
  font-family: 'keepcalm', sans-serif;
}
.mt-navb {
    padding-top: 100px;
}
.mt-navb-works {
    padding-top: 180px;
}

/* Variables  */
$news-bg: #c9e0ee;
h2 {
    font-size: 20px;
    font-family: arial, sans serif;
    text-transform: uppercase;
    font-weight: 600;
}
p {
    font-family: arial, sans serif;
}
.button:focus {
    outline: none;
}