@font-face {
font-family: 'keepcalm';
src: url('fonts/KeepCalmMedium.eot');
src: url('fonts/KeepCalmMedium.ttf') format('truetype'),
     url('fonts/KeepCalmMedium.woff') format('woff'),
     url('fonts/KeepCalmMedium.eot?#iefix') format('embedded-opentype'),
     url('../fonts/KeepCalmMedium.svg#keepcalm') format('svg');
font-weight: normal;
font-style: normal;
}
html {    
    scroll-behavior: smooth;
}
* {
  outline: none;
  box-sizing: border-box;}
body {
    font-family: arial, sans serif;
}

address {
    margin-bottom: inherit;
}

.text-black {
  color: black;
}
.text-underlined {
    text-decoration: underline;
}

.keepcalm {
  font-family: 'keepcalm', sans-serif;
}
.row-reverse {
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
}
.p-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
@media (max-width: 768px) {
    .p-20 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}
.haut,
.haut-index {
    line-height: 18px;
    font-size: 14px;    
    a,
    span {
        font-size: 14px;
        font-family: 'keepcalm', sans-serif;
        font-weight: 400;
    }
}
.haut {    
    width: 100%;
    margin-top: 21px;    
    margin-right: 0;
    margin-left: 0;
    a:hover {
        color: black;
    }
}
.page-numbers {
    margin-right: 5px;
}
.hide {
    display: none;
}
/* Variables  */
h2 {
    font-size: 20px;
    line-height: 20px;
    font-family: arial, sans serif;
    text-transform: uppercase;
    font-weight: 600;
}
p {
    font-family: arial, sans serif;
    font-size: 14px;
}
.button:focus {
    outline: none;
}
.col-0 {
    width: 0;
    padding: 0;
}
.pagination,
.news-pagination,
.works-pagination {
    display: block !important;
    text-align: right;
    a {
        font-weight: bold;
        padding: 5px;
        font-size: 14px;
        font-family: 'keepcalm', sans-serif;
        font-weight: 400;
    }
    .current {
        text-decoration: underline;
    }
}
.page-numbers.current {
    text-decoration: underline;
}
