.navbar-nav,
.navbar-subnav,
.navbar-subnav-work{
	flex-direction: row;
	font-family: 'keepcalm', sans-serif;
	flex-wrap: nowrap;
	a {
		color: black;
	}
	a:hover {
		color: black;
		text-decoration: none;
	}
	.current_page_item,
    .current-cat {
		text-decoration: underline;
	}
}
.navbar-nav {
    justify-content: left;
    font-size: 65px;    
    text-transform: uppercase;
    padding: 0 10px;
}
@media (max-width: 768px) {    
    .navbar-nav {
        padding: 10px 0 ;
        li {
            font-size: 1.3rem;
        }
    }
}
.mt-navb,
.mt-navb-works{
    padding-top: 160px;
}

#news .mt-navb {
    padding-top: 150px;
}
.navbar-subnav .selected {
    text-decoration: underline;
}
.navbar-subnav,
.navbar-subnav-work {
    z-index: 11;
    top: 90px;
    position: fixed;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    font-size: 28px;
    list-style: none;    
    padding: 0 10px;
    li {
        padding: 0 10px;
        z-index: 11;
        line-height: 50px;
    }
    a:hover {
        text-decoration: underline;
    }
}
@media (max-width: 1541px) {
    .mt-navb-works {
        padding-top: 210px;
    }
}
@media (max-width: 1237px) {
    .mt-navb-works {
        padding-top: 165px;
    }
    .mt-navb {
        padding-top: 125px;
    }
    #news .mt-navb {
        padding-top: 115px;
    }
    .navbar-subnav-work {
        top: 85px;
    }
}
@media (max-width: 968px) {
    .mt-navb-works {
        padding-top: 155px;
    }
    .mt-navb {
        padding-top: 110px;
    }
    #news .mt-navb {
        padding-top: 100px;
    }
    .navbar-subnav, .navbar-subnav-work {
        top: 75px;
    }
}
@media (max-width: 810px) {
    .mt-navb-works {
        padding-top: 205px;
    }
}
@media (max-width: 768px) {
    .mt-navb-works {
        padding-top: 105px;
    }    
    .mt-navb {
        padding-top: 80px;
    }
    #news .mt-navb {
        padding-top: 70px;
    }
    .navbar-subnav li, .navbar-subnav-work li {
        line-height: 25px;
    }
}
@media (max-width: 507px) {
  .mt-navb-works {
        padding-top: 130px;
    }
}
@media (max-width: 329px) {
  .mt-navb-works {
        padding-top: 150px;
    }
}
.submenu-work {
    z-index: 11;
}
#menu-principal,
#menu-principal-1 {
    li {
        margin: 0 20px 0 10px;
    }
     
    @media (max-width: 968px) and (min-width: 769px){   
        li{
            font-size: 50px;
        }
    }  
} 
.navbar-subnav-work {
    margin: 0;
}

@media (max-width: 768px) {    
    .navbar-subnav,
    .navbar-subnav-work {
        padding: 0;
        display: inherit;
        top:45px;
    } 
    .navbar-subnav li ,
    .navbar-subnav-work li {
        font-size: 1rem;
        float: left;
    }
}
.menu-fixed {
    position: fixed;
    z-index: 11;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .social-header {
        display: flex;
        justify-content: right;
        margin-top: 20px;
        margin-right: 10px;
        .lang {
            font-family: "keepcalm", sans-serif;
            font-size: 19px;
            line-height: 21px;
            margin-top: 3px;
            a {
                color: black;
                padding: 0  ;
            }
            a.current_language {
                display: none;
            }
        }
        a {
            margin: 0 10px;
        }
    }
}
.menu-single-work {
    display: none;
}
#singleWorks .menu-single-work {
    padding: 10px 0;
    position: relative;
    height: 50px;
    display: block;
    z-index: 10;
    margin-right: 50%;
    .menu-show,
    .menu-hide {
        cursor: pointer;
        position: fixed;
        z-index: 15;
        left: 20px;
    }
    .menu-hide {
        font-size: 25px;  
        img {
            height: 20px;
            width: auto;
        }
    }
    .menu-fixed-single {
        width: 100%;
        position: fixed;
        top: 0;                
        .menu-item:nth-child(2) {
            text-decoration: underline;
        }
    }
}
@media (min-width: 769px) {
    #singleWorks .menu-single-work .menu-hide {       
        top: 70px;
    }
}
#singleWorks .menu-fixed,
#singleWorks .navbar-subnav-work {
    display: none;
}
@media (max-width: 768px) {
    .navbar-subnav {
        left: 0;
    }
    .navbar-subnav li, 
    .navbar-subnav-work li {
        padding: 0 0 0 10px;
    }
    #singleWorks {
        .menu-fixed-single {
            width: 100% !important;
            left: 0;
            margin: 0 !important;
        }
        .menu-single-work {
            padding: 10px;
        }
        .menu-hide {
            top: 85px;
            left: 10px;
        }
    }
    #menu-principal li,
    #menu-principal-1 li {
        margin: 0 10px;
    }
    .menu-fixed .social-header {
        margin-top: 13px;
        margin-right: 5px;
        a {
            margin: 0 5px;
            line-height: 21px;
        }
    }
}
@media (max-width: 600px) {
    #singleWorks .menu-hide {
        top: 105px;
    }
}
@media (max-width: 400px) {
  .menu-fixed {
    .navbar-nav {
      li {
        font-size: 1.1rem;
      }
    }
    .social-header {
      margin-top: 9px;

      .lang {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 332px) {
    #singleWorks .menu-hide {
        top: 135px;
    }
}
