.navbar-nav,
.navbar-subnav {
	flex-direction: row;
	font-family: "montserrat", sans serif;
	flex-wrap: nowrap;
	a {
		color: black;
	}
	a:hover {
		color: black;
		text-decoration: none;
	}
	.current_page_item {
		text-decoration: underline;
	}
}
.navbar-nav {
    justify-content: space-between;
	font-size: 70px;    
	text-transform: uppercase;
    padding: 0 40px;
}
.navbar-subnav {
    justify-content: left;
    display: flex;
	font-size: 30px;
    list-style: none;
    top: 90px;
    li {
        padding: 0 20px 0 0;
    }
}
.menu-fixed,
.navbar-subnav {
    position: fixed;
    z-index: 1;
}
.menu-fixed {
    width: 100%;
}

 