.navbar-nav,
.navbar-subnav {
	flex-direction: row;
	font-family: 'keepcalm', sans-serif;
	flex-wrap: nowrap;
	a {
		color: black;
	}
	a:hover {
		color: black;
		text-decoration: none;
	}
	.current_page_item {
		text-decoration: underline;
	}
}
.navbar-nav {
    justify-content: space-between;
	font-size: 65px;    
	text-transform: uppercase;
    padding: 0 40px;
}
.navbar-subnav {
    justify-content: left;
    display: flex;
	font-size: 28px;
    list-style: none;
    top: 90px;
    li {
        padding: 0 20px 0 0;
    }
    a:hover {
        text-decoration: underline;
    }
}
.menu-fixed,
.navbar-subnav {
    position: fixed;
    z-index: 2;
}
.menu-fixed {
    width: 100%;
}
.menu-single-work {
    display: none;
}
#singleWorks .menu-single-work {
    padding: 10px;
    position: relative;
    height: 50px;
    display: block;
    .menu-show,
    .menu-hide {
        cursor: pointer;
        position: absolute;
    }
    .menu-hide {
        font-size: 25px;  
    }
    .menu-fixed-single {
        top: 0;
        margin: 0 40px;
        width: calc(100% - 80px);
        z-index: 5;
        position: fixed;
    }
}
#singleWorks .menu-fixed {
    display: none;
}
 