.home-content {
    height: 100vh;
    background: #fff url("img/AZC-bckg.png") no-repeat;
    background-size: cover;     
    font-size: 65px;
    font-weight: 700;
    overflow: hidden;
    .row {
        height: 100vh;      
    }
    .azc-home { 
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        a {
            text-align: center;
            cursor: pointer;
            width: 100%
        }
    }
    .works-home,
    .news-home,
    .index-home {
        width: 0;
        position: absolute;
        right: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.clicked {
    a {
        text-align: center;
        width: 25vw;
    }
    a:hover {
        text-decoration: none;
    }
    a.text-black:hover {
        color: black;
    }
    .azc-home {
        position: absolute;
        height: 100%;
        width: 100%;        
        a {
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            text-align: center;
            width: 25vw;
        }
    }
    .works-home {
        width: 75%;
        background-color: white;
        position: absolute;
        height: 100%;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
        a {
            
        }
    }
    .news-home {
        width: 50%;
        background-color: #c9e0ee;
        position: absolute;
        height: 100%;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
        a {
        }
    }
    .index-home {
        width: 25%;
        background-color: black;
        position: absolute;
        height: 100%;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
        -webkit-transition-delay: 1.5s;
        transition-delay: 1.5s;
        a {
                   }
    }
}

    
