#index {
  section#primary {
    padding-left: 10px;
    padding-right: 10px;

    table#worksList {
      width: 100%;

      thead {
        tr {
	  cursor: pointer;

          th {
            padding-top: 20px;
            padding-bottom: 20px;
            text-transform: uppercase;
    	  }
        }
      }

      tbody {
        tr {
	  cursor: pointer;
          border-top: 1px solid grey;
          border-bottom: 1px solid grey;

          td {
            padding-top: 4px;
            padding-bottom: 4px;

            &.name {
              text-transform: uppercase;
              font-weight: bold;
            }
          }

	  &:not([onclick]) {
	    cursor: default;
	    color: grey;
	  }
        }
      }

      th.name,
      td.name,
      th.ecology,
      td.ecology,
      th.program,
      td.program {
	width: 25%;
      }

      th.client,
      td.client,
      th.status,
      td.status,
      td.location {
	width: 15%;
      }
    }
  }
}

@media (max-width: 420px) {
  #index {
    section#primary {
      table#worksList {
	font-size: 14px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  #index {
    section#primary {
      table#worksList {
        th.client,
        td.client,
        th.location,
        td.location {
	  display: none;
	}
      }
    }
  }
}
