#index {
  section#primary {
    padding-left: 20px;
    padding-right: 20px;

    table#worksList {
      width: 100%;

      thead {
        tr {
	  cursor: pointer;

          th {
            padding-top: 20px;
            padding-bottom: 20px;
            text-transform: uppercase;
    	}
        }
      }

      tbody {
        tr {
	  cursor: pointer;
          border-top: 1px solid grey;
          border-bottom: 1px solid grey;

          td {
            padding-top: 4px;
            padding-bottom: 4px;

            &.name {
              text-transform: uppercase;
              font-weight: bold;
            }
          }

	  &:not([onclick]) {
	    cursor: default;
	    color: grey;
	  }
        }
      }
    }
  }
}
