#news {
    color: black;
    background-color: $news-bg;
    a {
        color: black;
    }
    .news-list {
        list-style-type: none;
        padding-left: 0;
    }
}
.post-news {
    margin-top: -140px;
    padding-top: 150px;
    img {
        width: 100%;
        height: auto;
    }
}
.news-more,
.news-less {
    font-weight: 900;
    font-size: 20px !important;
    cursor: pointer;
    padding-left: 15px;
}
.padb-15{
    padding-bottom: 15px;
}
.news-pagination .page-numbers {
    font-weight: bold;
    padding: 5px;
    font-size: 20px;
}
