#news {
    color: black;
    background-color: $news-bg;
    a {
        color: black;
    }
    .news-list {
        list-style-type: none;
    }
}
.post-news {
    margin-top: -140px;
    padding-top: 150px;
    .owl-stage-outer,
    .owl-stage,
    .owl-item,
    .item {
        height: 100%;
        img {
            object-fit: cover;
            height: 100%;
        }
    }
    
}
.news-resize {
    overflow: hidden;
}
.news-more,
.news-less {
    font-weight: 900;
    font-size: 20px !important;
    cursor: pointer;
    padding-left: 15px;
}
.padb-15{
    padding-bottom: 15px;
}

