#page-index {
  background: black;
  color: white;
  a {
    color: white;
  }
  .navbar-nav {
    a {
      color: white;
    }
    a:hover {
      color: white;
    }
  }
  .postindex-list {
    .wp-block-image img {
        width: 100%;
    }
    list-style-type: none;
      li {
          font-weight: bold;
          p {
              font-weight: normal;
          }
      }
      .title {
          text-transform: uppercase;
          font-weight: bold;
      }
  }
  .postindex-list-data {
    list-style-type: none;
    h4 {
        font-size: 30px;
        font-weight: bold;
        margin: 20px 0 10px;
    }
    li {
        font-weight: bold;
    }
    .page-numbers.current {
      text-decoration: underline;
    }
  }
  .categories-filters {
      overflow-y: auto;
  }
}