#page-index {
  background: black;
  color: white;
  a {
    color: white;
  }
  .navbar-nav {
    a {
      color: white;
    }
    a:hover {
      color: white;
    }
  }
  .postindex-list {
    list-style-type: none;
    .postindex-list-data {
      list-style-type: none;
    }
  }

}