#page-index {
  background: black;
  color: white;
  a {
    color: white;
  }
  .navbar-nav {
    a {
      color: white;
    }
    a:hover {
      color: white;
    }
  }
  .postindex-list {
    .wp-block-image img {
        width: 100%;
    }
    list-style-type: none;
      li {
          font-weight: bold;
          p {
              font-weight: normal;
          }
      }
      .title {
          text-transform: uppercase;
          font-weight: bold;
      }
  }
  .postindex-list-data {
    list-style-type: none;
    h4 {
        font-size: 30px;
        font-weight: bold;
        margin: 20px 0 10px;
    }
    li {
        font-weight: bold;
    }
    .page-numbers.current {
      text-decoration: underline;
    }
  }
  .categories-filters {
      overflow-y: auto;
  }
  .wp-block-gallery .blocks-gallery-item figcaption {
      display: none;
      }
  @media (max-width : 767px) {   
      .mobile-hide {
          display: none;
      }
      .indexterms-filters,
      .indexterms-filters ul,
      .index-post ul {
          padding: 0;
      }
  }
  .haut {
      margin-top: -25px;
  }
   @media (min-width : 768px) { 
        .index-post,
        .index-cat {
          height: 100vh;
          overflow-y: scroll;
        }
        ::-webkit-scrollbar {
          width: 10px;
        }
        ::-webkit-scrollbar-track {
          background: black; 
        }
        ::-webkit-scrollbar-thumb {
          background: #333333; 
          -webkit-border-radius: 5px;
        }
        ::-webkit-scrollbar-thumb:hover {
          background: #696969; 
        }
    }
}