#singleWorks {
  .work-text {
      max-width: 768px;
      margin: auto;
      margin-bottom: 40px;

      &.desktop {
        padding-left: 10px;
        padding-right: 10px;
	display: none;

        .work-exponation {
          p {
            text-align: justify;
            -moz-text-align-last: center;
            text-align-last: center;
          }

	  .structured-text {
	    p:last-child {
	      margin-bottom: 0px;
	    }
	  }

	  .relative-container {
 	    position: relative;

	    .storytelling {
	      position: absolute;
	      top: 0px;
	      z-index: 10;
	      background-color: white;
	      height: 0px;
              transition: height 0.1s; 
              overflow: hidden;
	    }
          }
        }
      }

      &.mobile {
        .work-exponation {
	  padding-left: 10px;
	  padding-right: 10px;

          p {
            text-align: center;
          }
  	}
      }

      #read-more {
	text-align: center;
	color: grey;
	font-size: 14px;
	cursor: pointer;
	font-style: italic;

	span {
	  display: inline-block;
          transition: width 0.1s; 
          overflow: hidden;
	  vertical-align: bottom;
	  text-align: left;

	  &.more {
	    width: 26px;
	  }
	  &.less {
	    width: 0px;
	  }
	}
      }

      &.expanded {
        .work-exponation {
	  .relative-container {
	    .storytelling {
	      height: 500px;
  	    }
  	  }
  	}

        #read-more {
	  span {
	    &.more {
	      width: 0px;
	    }
	    &.less {
	      width: 39px;
	    }
	  }
	}
      }

      @media (min-width: 768px) {
        &.desktop {
	  display: block;
	}
        &.mobile {
	  display: none;
	}
      }
  }

  .work-single {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;

    &.desktop {
      display: none;
    }

    @media (min-width: 768px) {
      width: 550px;
      height: 403px;
      margin: auto;

      &.mobile {
        display: none;
      }

      &.desktop {
        display: block;
      }
    }

    .inner {
      .image {
	margin-bottom: 44px;
	text-align: center;

	img {
	  max-height: calc(100vh - 150px);
          max-width: 100%;
          height: 100%;
          width: 100%;
          object-fit: contain;    
        }

        @media (max-height: 450px) {
	  margin-bottom: 50px;

	  img {
	    max-height: calc(100vh - 40px);
          }
        }
      }

      &.carousel-inner {
	position: relative;
	height: 100%;

	.image {
	  height: 100%;

	  img {
   	    height: 100%;
	  }
	}
      }

      .carousel-control {
	  display: none;
          width: 50%;
      }
      
      .carousel-control-prev {
          cursor: url(img/left-arrow.png), pointer;
      }

      .carousel-control-next {
          cursor: url(img/right-arrow.png), pointer;
      }
    }

    @media (max-width: 768px) {
      .work-single {
          width: 100vw;
          padding: 0;
          margin: 40px auto auto;
          left:0;
          height: calc(100% - 40px);
      }
      .haut {
        padding-right: 0px;
      }
      .count-nb {
          width: 100% !important;
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      width: 50%;
    }
  }

  .img-work-caract {
      position: fixed;
      z-index: 10;
      top: 20px;
      left: 60px;
      right: 60px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: underline;

      p {
          margin: 0;
          font-size: 16px;

          @media (min-width: 609px) {
            font-size: 20px;
          }
      }
      .counter {
          position: absolute;
          top: 0px;
          right: -50px;
          font-size: 14px;
          padding-left: 3px;

	  &.desktop {
	    display: none;
	  }

          @media (min-width: 768px) {
	    &.mobile {
	      display: none;
	    }
	    &.desktop {
	      display: block;
	    }
	  }

          @media (min-width: 609px) {
            font-size: 16px;
          }
      }
  }

  .prev-next, .haut {
    margin-top: 40px;

    a {
      font-family: arial, "sans serif";
      font-size: 1rem;
    }
  }

  .prev-next {
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;
  }
}
