#singleWorks {
  #work-text {
      max-width: 768px;
      margin: auto;
      margin-bottom: 40px;
      padding-left: 10px;
      padding-right: 10px;

      .work-exponation {
	max-height: 200px;
        transition: max-height 0.4s, opacity 0.4s; 
	overflow: hidden;

        p {
          text-align: justify;
          -moz-text-align-last: center;
          text-align-last: center;
        }
      }

      #read-more {
	text-align: center;
	color: grey;
	font-size: 14px;
	cursor: pointer;
      }

      &.expanded {
        .work-exponation {
	  max-height: 1000px;
  	}

        #read-more {
   	  opacity: 0;
	}
      }
  }

  #carouselwork {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;

    .inner {
      .image {
	margin-bottom: 44px;
	text-align: center;

	img {
	  max-height: calc(100vh - 150px);
          max-width: 100%;
          height: 100%;
          width: 100%;
          object-fit: contain;    
        }

        @media (max-height: 450px) {
	  margin-bottom: 50px;

	  img {
	    max-height: calc(100vh - 40px);
          }
        }
      }

      .carousel-control {
	  display: none;
          width: 50%;
      }
      
      .carousel-control-prev {
          cursor: url(img/left-arrow.png), pointer;
      }

      .carousel-control-next {
          cursor: url(img/right-arrow.png), pointer;
      }

      .img-work-caract {
          position: fixed;
	  z-index: 9999;
          top: 20px;
	  left: 0px;
          width: 100%;
          text-align: center;
	  text-transform: uppercase;
	  text-decoration: underline;

          p {
              margin: 0;
              font-size: 16px;

              @media (min-width: 609px) {
                font-size: 20px;
	      }
          }
          .counter {
	      position: absolute;
	      top: 0px;
	      right: 10px;
              font-size: 14px;
              padding-left: 3px;

              @media (min-width: 609px) {
                font-size: 16px;
	      }
          }
      }
    }

    .prev-next, .haut {
      margin-bottom: 40px;

      a {
        font-family: arial, "sans serif";
	font-size: 1rem;
      }
    }

    .prev-next {
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
    }

    @media (max-width: 768px) {
      .work-single {
          width: 100vw;
          padding: 0;
          margin: 40px auto auto;
          left:0;
          height: calc(100% - 40px);
      }
      .haut {
        padding-right: 0px;
      }
      .count-nb {
          width: 100% !important;
      }
    }
  }
}
