.owl-nav {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    top: -35%;
    .owl-prev {
        position: relative;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        span {
            font-size: 200%;
            color: white;
            z-index: 1000;
        }
    }
    .owl-next {
        position: relative;
        left: 95%;
        top: 50%;
        transform: translateY(-50%);
        span {
            font-size: 200%;
            color: white;
            z-index: 1000;
        }
}
}

