#works {
  color: black;
  a {
    color: black;
  }
  .works-list {
    .works-item {
        display: inline-block;
        margin: 0 0 .85em;
        width: 100%;
        img {
            width: 100%;
        }
    }
  }
}
@media (min-width: 576px) {    
    .works-list {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
}
@media (min-width: 768px) {    
    .works-list {
        column-count: 3;   
        -webkit-column-count: 3;
        -moz-column-count: 3;
    }
}
@media (min-width: 992px) {    
    .works-list {
        column-count: 4;  
        -webkit-column-count: 4;
        -moz-column-count: 4;
    }
}
.navbar-subnav .current-cat {
    text-decoration: underline;    
}
.works-info {
    h2 {
        font-size: 16px;
        margin-bottom: 0;
    }
    p {
        font-size: 15px;
        margin-bottom: 0;
    }
    img {
        height: 35px;
        width: 25px!important;
        padding: 5px 0;
    }
}
a:hover {
    text-decoration: none;
}

.work-text {
    position: fixed;
    top: 30px;
    width: 25%;
    min-height: 90%;
    min-width: 300px;
    right: 10px;
    background-color: white;
    z-index: 1;
    transition: right 1s;
    -webkit-transition: right 1s;
    .arrow {
        font-size: 30px;
        width: 20px;
        cursor: pointer;                   
        transition: transform 1s;
        -webkit-transition: transform 1s
    }
    .work-exponation {
        padding: 5px 25px;
    }
}
.work-text.onright {
    right: -20%;
    .arrow {
        transform: rotate(-180deg); 
    }
}
.menu-single-work {
    padding: 10px;
    position: relative;
    height: 50px;
    .menu-show,
    .menu-hide {
        cursor: pointer;
        position: absolute;
    }
    .menu-hide {
        font-size: 25px;  
    }
    .menu-fixed {
        top: 0;
        margin: 0 40px;
        width: calc(100% - 80px);
    }
}

.owl-carousel.work-single {
    position: fixed;
    height: 92vh;
    width: 98vw;
    padding: 5% 10%;
    .owl-stage-outer {
        height: 100%;
        .owl-stage {
            height: 100%;
            img {
                object-fit: contain;
            }
        }
    }
    .owl-nav {
        padding: 0 10%;
    }
}