#works {
  color: black;
  a {
    color: black;
  }
  .works-list {
    .works-item {
        display: inline-block;
        margin: 0 0 .85em;
        width: 100%;
        img {
            width: 100%;
        }
    }
  }
}
@media (min-width: 576px) {    
    .works-list {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
}
@media (min-width: 768px) {    
    .works-list {
        column-count: 3;   
        -webkit-column-count: 3;
        -moz-column-count: 3;
    }
}
@media (min-width: 992px) {    
    .works-list {
        column-count: 4;  
        -webkit-column-count: 4;
        -moz-column-count: 4;
    }
}
.navbar-subnav .current-cat {
    text-decoration: underline;    
}
.works-info {
    h2 {
        font-size: 16px;
        margin-bottom: 0;
    }
    p {
        font-size: 15px;
        margin-bottom: 0;
    }
    img {
        height: 35px;
        width: 25px!important;
        padding: 5px 0;
    }
}
a:hover {
    text-decoration: none;
}

.work-text {
    position: fixed;
    top: 30px;
    width: 25%;
    min-width: 300px;    
}
.work-text.onright {
    left: 98%;
}
