#works {
  color: black;
  a {
    color: black;
  }
  .works-list {
    list-style-type: none;
    li {
      img {
        width: 100%;
      }
    }
  }
}
.navbar-subnav .current-cat {
    text-decoration: underline;    
}